<nav class="navbar navbar-expand-md navbar-dark bg-blue py-0">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white bg-paleblue btn py-0 px-1 m-1" routerLink="/boards">
          <i class="fab fa-trello mr-2"></i>Boards
        </a>
      </li>
      <li>
        <form #searchForm="ngForm" class="form-inline my-1 my-md-0 ml-2">
          <div class="input-group">
            <input class="form-control search-sm" type="text" placeholder="Search">
            <div class="input-group-append search-sm">
              <button type="button" class="btn bg-paleblue text-white py-0 px-1">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <div class="navbar-nav mx-auto">
      <a class="navbar-brand text-white" routerLink="">
        <i class="fab fa-angular"></i>
        AStudy
      </a>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white btn bg-paleblue py-0 px-1 m-1" href="#">
          <i class="fas fa-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn bg-paleblue py-0 px-1 m-1" href="#">
          <i class="fas fa-user"></i>
          User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn bg-paleblue py-0 px-1 m-1" href="#">
          <i class="far fa-clock"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn bg-paleblue py-0 px-1 m-1" href="#">
          <i class="far fa-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white btn bg-paleblue py-0 px-1 m-1" href="#">
          <i class="fas fa-cog"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>