<div class="text-darkblue bg-darkerblue px-md-5 pt-md-2 h-100">
  <h3 class="text-white">{{ board.name }}</h3>
  <div class="card-deck">
    <div *ngFor="let list of board.lists" class="card list-wrap bg-grey p-md-2 m-1">
      <p>{{ list.name }}</p>
      <div class="card-body p-0">
        <div
          *ngFor="let issue of list.cards"
          class="card bg-white m-0 p-md-1 mb-md-1"
        >
          <p>{{ issue.text }}</p>
        </div>

        <button class="btn button-add-card text-darkblue p-0 mt-1" (click)="openAddCardModal(addCardModal, list.id)">
          <p class="p-0 m-0"><i class="fas fa-plus mr-1"></i>Add new card...</p>
        </button>
      </div>
    </div>

    <button type="button" class="card button-add-list btn text-left bg-paleblue text-white m-1" (click)="openAddListModal(addListModal)">
      <p class="my-auto"><i class="fas fa-plus mr-1"></i>Add new column...</p>
    </button>
  </div>
</div>

<!-- List addition modal dialog -->
<ng-template #addListModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addListModalLabel">Add new column</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="addListForm" #addListForm="ngForm">
      <div class="form-group">
        <label for="listName">Name</label>
        <input type="text" class="form-control" name="listName" [(ngModel)]="listModel.name" ngbAutofocus required />
      </div>
      <button [disabled]="!addListForm.valid" (click)="addList()" type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</ng-template>

<!-- Card addition modal dialog -->
<ng-template #addCardModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addCardModalLabel">Add new card</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="addCardForm" #addCardForm="ngForm">
      <div class="form-group">
        <label for="cardContent">Description</label>
        <input type="text" class="form-control" name="cardContent" [(ngModel)]="cardModel.text" ngbAutofocus required />
      </div>
      <button [disabled]="!addCardForm.valid" (click)="addCard()" type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</ng-template>