@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

$primary-color: #026aa7;
$secondary-color: rgb(0, 121, 191);
$accent-color: rgb(23, 57, 77);
$light-grey: rgb(223, 227, 230);
$transparent: rgba(255, 255, 255, 0.3);

html, body {
    height: 100%;
}

body {
    font-family: "Fira Sans", sans-serif;
}

.bg-blue {
    background-color: $primary-color;
}

.bg-darkerblue{
    background-color: $secondary-color;
}

.bg-paleblue {
    background-color: $transparent;
}

.bg-grey {
    background-color: $light-grey;
}

.text-darkblue{
    color: $accent-color;
}

.search-sm {
    margin-top: 0.25em;
    height: 28px;
    font-size: small;
}