@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html, body {
    height: 100%;
}

body {
    font-family: "Fira Sans", sans-serif;
}

.bg-blue {
    background-color: #026aa7;;
}

.bg-darkerblue{
    background-color: rgb(0, 121, 191);
}

.bg-paleblue {
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-grey {
    background-color: rgb(223, 227, 230);
}

.text-darkblue{
    color: rgb(23, 57, 77) !important;
}

.search-sm {
    margin-top: 0.25em;
    height: 28px;
    font-size: small;
}