<div class="container w-75 pt-md-3">
  <h2 class="text-darkblue">Your boards</h2>
  <div class="row w-50">
    <a class="card btn text-left bg-darkerblue text-white col-md-4 m-md-2 p-1" 
                  *ngFor="let board of boards" routerLink="/board/{{board.id}}">
      <div class="card-body pt-1 pb-4 px-1">
        <p class="card-text">{{ board.name }}</p>
      </div>
    </a>

    <button type="button" class="card btn text-left bg-grey text-darkblue col-md-4 m-md-2 p-1" (click)="openModal(content)">
      <p><i class="fas fa-plus mr-1"></i>Add new board...</p>
    </button>
  </div>
</div>

<!-- board addition modal window -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addBoardModalLabel">Add new board</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="addBoardForm" #addBoardForm="ngForm">
      <div class="form-group">
        <label for="boardName">Name</label>
        <input type="text" class="form-control" name="boardName" [(ngModel)]="model.name" ngbAutofocus required />
      </div>
      <button [disabled]="!addBoardForm.valid" (click)="addBoard()" type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</ng-template>